@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0px 5px 10px #999;
}

@mixin display-align{
    display: flex;
    align-items: center;
}

@mixin display-end{
    display: flex;
    justify-content: flex-end;
}

@mixin display-colum{
    display: flex;
    flex-direction: column;
}

@mixin dispaly-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin display-evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin display-row-betw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin display-column-betw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin display-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
