@import '../utils/variables';
@import '../utils/mixins';

.error{
    @include display-all;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 16px;
    }
    a {
        color: $black-color;

        & .btn-error {
            cursor: pointer;
            padding: nth($padding, 1) 10px;
            font-size: 16px;
            font-weight: 700;
            border: 1px solid $black-color;
            @include shadow;
        }
    }
}