@import '../utils/variables';
@import '../utils/mixins';

.body{
    @include display-column-betw;
    height: 100vh;
    width: 100%;
    background-size: cover;
    transition-duration: 1s;
    & .main{
        @include display-env;
        gap: nth($gap, 4);
        height: 700px;
        color: $white-color;
        @include mobile{
            @include ali-fldir;
        }
        @include tablet{
            @include fldir-end;
        }
        & .first-main {
            @include display-colum;
            @include mobile{
                align-items: center;
            }
            @include tablet{
                align-items: flex-start;
            }
            & .first {
                @include display-align;
                @include mobile{
                    flex-direction: column;
                }
                @include tablet{
                    flex-direction: row;
                    gap: nth($gap, 2);
                }
                & .condition {
                    @include display-colum;
                    @include mobile{
                        align-items: center;
                    }
                    @include tablet{
                        align-items: flex-start;
                    }
                }
                & .wind {
                    @include dis-star;
                    @include mobile {
                        flex-direction: row;
                        gap: nth($gap, 2);
                    }
                    @include tablet {
                        flex-direction: column;
                        gap: 0;
                    }
                }
                span{
                    gap: nth($gap, 1);
                    @include display-align;
                    & .sc-aXZVg, & .kLSIyR{
                        @include display-align;
                    }
                }
            }
        }
        & .second-main {
            @include display-align;
            border-radius: 10px;
            background: #ffffff7d;
            backdrop-filter: blur(1px);
            padding: nth($padding, 1)-2;
            overflow: hidden;
            & .input {
                width: 260px;
                padding: nth($padding, 1);
                color: $white-color;
            }
            & .btn {
                transform: scale(1);
                cursor: pointer;
            }
            & .btn:hover,
            & .btn:active,
            & .btn:focus {
                transform: scale(.9);

            }
        }
    }
}