@import '../utils/variables';
@import '../utils/mixins';

.footer{
    padding: nth($padding, 4);
    background: linear-gradient(0deg, transparent 0%, $black-color 750%);
    @include display-row-betw;
    color: $white-color;
    @include mobile {
        flex-direction: column;
    }
    @include tablet {
        flex-direction: row;
    }
    img{
        object-fit: cover;
        height: 100%;
    }
    & .footer-one{
        font-size: 16px;
    }
}