@import '../utils/variables';
@import '../utils/mixins';

.header{
    padding: nth($padding, 4);
    background: linear-gradient(0deg, transparent 0%, $black-color 800%);
    & a{
        @include display-row-betw;
        color: $white-color;
        @include mobile{
            flex-direction: column;
        }
        @include tablet{
            flex-direction: row;
        }
        & .header-one{
            @include display-align;
            gap: nth($gap, 3);
            flex: 1;
            svg{
                font-size: 50px
            }
            h1{
                text-transform: uppercase;
                font-size: 32px;
            }
        }
        & .header-second{
            @include display-end;
            flex: 1;
            span{
                font-size: 16px;
            }

        }
    }
}